# Ignore compiler junk
bin/
obj/
.vs/

# Ignore user-specific files
*.user
launchSettings.json

# These are added after running publish.sh
RwBep/BepInEx/patchers/Realm.dll
RwBep/BepInEx/core/EnumExtender.dll
RwBep.zip
